<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Laminas ReCaptcha Test Suite">
            <directory>./Laminas</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>
